@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.toast-progress {
  animation-name: toast-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.toast:hover .toast-progress {
  animation-play-state: paused;
}
